.all-posts
  display: block
  width: 100%
  padding: 40px 0
  +clearfix()

  @media screen and (max-width: $break-medium)
    padding: 20px 0

  a:nth-child(1)
    float: left
    display: block
    font-size: 46px
    font-weight: 700
    line-height: 1

  a:nth-child(2)
    border: 0
    svg
      float: right
      +size(57px)
      margin-left: 20px

      path
        fill: $link-color
        +transition(200ms)

    &:hover
      svg path
        fill: transparentize($link-color, 0.4)

  @media screen and (max-width: $break-small)
    a:nth-child(1)
      font-size: 28px

    a:nth-child(2)
      display: none

.music-section
  .all-posts
    @media screen and (max-width: $break-medium)
      padding: 20px 20px

    @media screen and (max-width: $break-small)
      padding: 20px 10px
