//colours
$primary-color: #9fdbf9
$text-color: #2E2D33
$accent-color: $primary-color
$bg-color: #f9ea9f
$link-color: #2E2D33
$selection-color: #9fdbf9
//#9faef9 #f9bd9f #9fdbf9 #DBF99F #f9ea9f
//#8e99fb #fbba8e #8ed0fb #d0fb8e #FBF08E
//#6c94ff #ff8d6c #6cdeff #deff6c #ffd76c
//breakpoints
$break-small:    540px
$break-medium:   768px
$break-large:    1080px
$break-xlarge:   1200px
$break-xxlarge:  1440px
