//colours
$primary-color: #93d7f8
$text-color: #2E2D33
$accent-color: $primary-color
$bg-color: #f8e793
$bg-archive: #d7f893
$link-color: $text-color
$selection-color: #93d7f8
//#9faef9 #f9bd9f #9fdbf9 #DBF99F #f9ea9f
//#93a4f8 #f8b593 #93d7f8 #d7f893 #f8e793

//breakpoints
$break-small:    540px
$break-medium:   768px
$break-large:    1080px
$break-xlarge:   1200px
$break-xxlarge:  1440px
$break-max:      1600px
