<section class="about--education">
  <h3>Education:</h3>
  <div class="about--lockup">
    <img src="/assets/img/nscc.gif" alt="NSCC">
    <div class="lockup--title">
      <span>September 2013 - June 2015</span>
      <h4>IT Web Programming Concentration</h4>
    </div>
  </div>
  <p>Web programming encompasses various non-design aspects of developing websites and web-based applications, and ranges from developing a simple static page to complex data-driven applications, e-commerce, and social network applications.</p>

  <p>This concentration focuses on building your programming skills to form a solid foundation in current and emerging web-based technologies. You develop skills and knowledge in web application development, user-interface design and usability, web server administration and security, and mobile application development. Plus, you learn to combine these skills to create effective solutions.</p>
  <span class="education--source">- <a href="http://www.nscc.ca/learning_programs/programs/PlanDescr.aspx?prg=IFTG&pln=IT-INTERNT" target="blank">Nova Scotia Community College</a></span>
</section>
