<section class="about">
  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-image"></div>

    <div class="icon-pencil">pencil</div>
    <div class="icon-mouse">mouse</div>
    <div class="icon-browser">browser</div>
    <div class="icon-video">video</div>

  </div>

  <div class="blurb">
    <p><strong>Suspendisse dictum feugiat nisl ut dapibus.</strong> Shabby chic ugh readymade narwhal, YOLO health goth marfa green juice 90's fingerstache chartreuse PBR&B. Shoreditch blog pabst, vice mlkshk raw denim cray actually post-ironic green juice quinoa yr beard.</p>
  </div>
</section>
