<section class="about--work">
  <div class="about--left">
    <h3>Work</h3>
  </div>

  <div class="about--right">
    <div class="about--lockup">
      <img src="/assets/img/clintonwilkins.svg" alt="NSCC">
      <div class="lockup--title">
        <span>April 2015 - Present</span>
        <h4>Clinton WIlkins Mortgage Team</h4>
      </div>
    </div>
    <p>I started working at Team Clinton in April of 2015 when school ended. It started as a six week intership/work term that I was doing for school, but after the six weeks I was hired as a full-time employee.</p>

    <p>I have many responsibilities here that it makes it hard to give myself an actual position title. Here's a list of some of the things I do here:</p>
    <p><ul>
      <li>Website Development</li>
      <li>WordPress Plugin Development</li>
      <li>Website Management/SEO</li>
      <li>HTML Email Marketing</li>
      <li>Graphic Design</li>
      <li>Content Creation</li>
      <li>General Office IT</li>
    </ul></p>

    <p>For the rates page on <a href="http://teamclinton.ca/rates/" >teamclinton.ca/rates/</a> I was asked to create a widget plugin to allow users to calculate their mortgages. You can see the finished plugin on codepen <a href="http://codepen.io/derekmorash/pen/mJGKoW">here</a>.</p>

    <p>I also made a personal site for my boss, Clinton Wilkins. You can view it at <a href="http://clintonwilkins.ca">clintonwilkins.ca</a>. The site was built on Wordpress.</p>
    <span class="education--source">- <a href="http://teamclinton.ca">teamclinton.ca</a></span>
  </div>
</section>
