<footer class="footer" id="contact">
  <div class="footer--email">
    <a class="email" href="mailto:derek.morash@gmail.com">derek.morash@gmail.com</a>
  </div>
  <div class="footer--social-code">
    <a href="https://github.com/derekmorash">Github</a>
    <a href="http://codepen.io/derekmorash/">Codepen</a>
  </div>
  <div class="footer--social-media">
    <a href="https://www.linkedin.com/in/derekmorash">LinkedIn</a>
    <a href="https://twitter.com/derek_morash">Twitter</a>
  </div>
</footer>
