<section class="work" id="work">
  <h3>My Work</h3>
  <p>Articles and examples of some of the things I've been working on.</p>
  <div class="work--card-container">

    {% for post in site.categories.work limit:6 %}
    <a href="{{ post.url }}" class="work--card">
      <span>{{ post.date | date: "%b, %d, %Y" }}</span>
      <div class="work--card-title">
        <img src="{{ post.assets }}{{ post.thumbnail}}" alt="" />
        <h2>{{ post.title }}</h2>
      </div>
      <span>{{ post.tags | join: ', ' }}</span>
    </a>
    {% endfor %}

  </div>

  <div class="all-posts">
    <a href="/work">All Posts</a>
    <a href="/work">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16">
        <path fill="#2E2D33" d="M9.707 13.707l5-5c0.391-0.39 0.391-1.024 0-1.414l-5-5c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l3.293 3.293h-9.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h9.586l-3.293 3.293c-0.195 0.195-0.293 0.451-0.293 0.707s0.098 0.512 0.293 0.707c0.391 0.391 1.024 0.391 1.414 0z"></path>
      </svg>
    </a>
  </div>
</section>
