<section class="work">
  <h3 id="work">My Work</h3>
  <div class="work--card-container">

    <a href="#" class="work--card">
      <span>Nov 25th, 2015</span>
      <img src="http://fillmurray.com/g/500/200" alt="" />
      <h2>title</h2>
    </a>

    <a href="#" class="work--card">
      <span>Nov 25th, 2015</span>
      <img src="http://fillmurray.com/g/500/200" alt="" />
      <h2>title</h2>
    </a>
    <a href="#" class="work--card">
      <span>Nov 25th, 2015</span>
      <img src="http://fillmurray.com/g/500/200" alt="" />
      <h2>title</h2>
    </a>
    <a href="#" class="work--card">
      <span>Nov 25th, 2015</span>
      <img src="http://fillmurray.com/g/500/200" alt="" />
      <h2>title</h2>
    </a>

  </div>

</section>
