.about
  width: 100%
  padding: 0 60px
  margin-top: 50px

  @media screen and (max-width: $break-large)
    padding: 0 40px
    margin-top: 50px

  @media screen and (max-width: $break-medium)
    padding: 0 20px
    margin-top: 50px

  &::before
    +clearfix

  &--title
    @include outer-container(100%)

    &-name
      @include span-columns(6)

      h1
        font-size: 90px
        font-weight: 700
        margin-top: 0

      @media screen and (max-width: $break-xxlarge)
        h1
          font-size: 80px

      @media screen and (max-width: $break-xlarge)
        @include span-columns(12)

        h1
          font-size: 70px
          margin-bottom: 0

      @media screen and (max-width: $break-small)
        @include span-columns(12)

        h1
          font-size: 50px
          margin-bottom: 0

    &-blurb
      @include span-columns(6)
      @include omega()
      vertical-align: baseline

      @media screen and (max-width: $break-xlarge)
        @include span-columns(12)

      p:nth-child(1)
        font-size: 30px
        font-weight: 700
        vertical-align: baseline
        margin: 46px 0 0

        @media screen and (max-width: $break-xxlarge)
            font-size: 28px
            margin: 38px 0 0

        @media screen and (max-width: $break-xlarge)
            font-size: 28px
            margin: 0

        @media screen and (max-width: $break-medium)
            font-size: 26px
            margin: 0

        @media screen and (max-width: $break-medium)
            font-size: 24px
            margin: 0

      p:nth-child(2)
        font-size: 20px
        font-weight: 300
