body.about-me
  background: $bg-about-page

  @media screen and (max-width: $break-medium)
    nav
      background-color: $bg-about-page

.about--page
  max-width: $break-medium
  margin: 50px auto 0
  padding: 0 40px

  @media screen and (max-width: $break-medium)
    padding: 0 20px

  section
    margin-bottom: 20px
    border-bottom: 1px transparentize($text-color, .8) solid
    padding-bottom: 20px

    p
      padding: 0
      margin-bottom: 0

  .about--education, .about--work
    h3
      padding: 20px 0
      // color: $text-color
      // font-weight: 300

  .about--lockup
    margin-bottom: 20px
    +outer-container(100%)
    +clearfix()

    img
      +span-columns(3)
      // max-width: 100%

    .lockup--title
      margin: 0
      +span-columns(9)

      span, h4
        display: block
        width: 100%
        margin: 0
        color: $text-color

    @media screen and (max-width: $break-medium)
      .lockup--title
        margin: 0
        +span-columns(12)

    .education--source
      display: block
      margin-top: 20px
