.about
  width: 100%
  padding: 100px 60px 0

  @media screen and (max-width: $break-large)
    padding: 100px 40px 0

  @media screen and (max-width: $break-medium)
    padding: 100px 20px 0

  &::before
    +clearfix

  &--title
    @include outer-container(100%)

    &-name
      @include span-columns(6)

      h1
        font-size: 70px
        font-weight: 700
        margin-top: 0

      @media screen and (max-width: 1330px)
        @include span-columns(12)

        h1
          margin-bottom: 0

    &-blurb
      @include span-columns(6)
      @include omega()
      font-size: 24px
      font-weight: 700
      vertical-align: baseline

      p
        vertical-align: baseline
        margin: 34px 0 0

      @media screen and (max-width: 1330px)
        @include span-columns(12)

        p
          margin: 0
