footer
  margin: 100px auto
  max-width: $break-max
  text-align: center
  +clearfix

  .footer--email
    max-width: 800px
    margin: 0 auto

    @media screen and (max-width: 820px)
      padding: 0 10px

    a
      display: inline
      font-size: 62px //67.63001px

  .footer--lockup
    max-width: 800px
    margin: 0 auto
    +clearfix

    @media screen and (max-width: 820px)
      padding: 0 10px

    a
      @include span-columns(2)
      @include omega(6)
      font-size: 16px
      display: block
      position: relative
      background-color: blue
      float: left
