footer
  background:
    image: url(../img/hero-bg.jpg)
    position: center
    size: cover
    repeat: no-repeat
  +clearfix

  .lockup
    margin: 30px
    overflow: hidden

    .logo
      +size(50px)
      background: #999999
      float: right

    .content-wrap
      float: right
      margin-right: 10px
      margin-top: 4px

      a
        @extend %small-bold
        display: inline-block
        margin-left: 20px

      .copyright
        float: right
        margin: 0
        color: white
        text-transform: uppercase
        font-size: 12px
