header
  .logo
    +size(50px)
    background: blue
    float: left
    margin: 20px 0 0 40px

  nav
    float: right
    margin: 35px 40px 0 0

    a
      display: inline-block
      margin-left: 20px
      text-decoration: none
      font-size: 18px
      color: lighten($text-color, 40%)
      // @extend %small-bold
      +transition()

      &:hover
        color: black

    &::after
      +clearfix

  h1
    margin: 0
    clear: both
    padding: 100px 0 0 40px

  .blurb
    max-width: 620px
    padding: 0px 40px
    font-size: 24px
    font-weight: 300
