header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end
  align-content: flex-end
  max-width: $break-max
  margin: 0 auto
  height: 100px
  // background: goldenrod

  .header--title
    flex-grow: 1
    float: left
    margin: 0 0 0 60px
    font-size: 50px
    line-height: 1
    letter-spacing: -5px

    a
      text-decoration: none
      border: 0

      &:hover
        text-decoration: none
        border: 0

    @media screen and(max-width: $break-large)
      margin: 0 0 0 40px

    @media screen and(max-width: $break-medium)
      margin: 0 0 0 20px

    @media screen and(max-width: $break-small)
      margin: 0 0 0 20px

  nav
    flex-grow: 1
    display: flex
    margin: 0 60px 0 0

    @media screen and(max-width: $break-large)
      margin: 0 40px 0 0

    @media screen and(max-width: $break-medium)
      margin: 0 20px 0 0

    @media screen and(max-width: $break-small)
      margin: 0 20px 0 0

    svg
      display: none
      position: absolute
      top: 40px
      left: calc(50% - 2vh)
      right: calc(50% - 2vh)
      height: 4vh
      width: 4vh
      cursor: pointer
      transition: transform 400ms ease-in-out

      path
        fill: $text-color

      &:hover
        transform: rotateZ(-180deg)

    ul
      flex-grow: 1
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-end
      align-content: flex-end
      list-style: none
      padding: 0
      margin: 0

      li
        align-self: center

        a
          text-decoration: none
          border: 0
          font-size: 18px
          color: lighten($text-color, 40%)
          +transition()

          &:hover
            color: black

    // Mobile Nav
    @media screen and(max-width: $break-medium)
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      text-align: center
      z-index: 1000
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      align-content: flex-start

      svg
        display: block

      ul
        // flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-content: center
        // align-self: center

        li
          // align-items: center
          // align-content: center
          align-self: center

          a
            font-size: 8vh
            color: $text-color
            text-decoration: none
            border-bottom: 1px solid $link-color

            a:hover, a:focus
              text-decoration: none
              border: 0
