header
  display: block
  max-width: 100%
  margin: 0 auto
  padding-bottom: 100px

  .logo
    +size(50px)
    background: blue
    float: left
    margin: 40px 0 0 60px

    @media screen and(max-width: $break-large)
      margin: 40px 0 0 40px

    @media screen and(max-width: $break-medium)
      margin: 40px 0 0 20px

    @media screen and(max-width: $break-small)
      margin: 40px 0 0 20px

  .menu--check
    display: none

    &:checked ~ nav
      display: block

  .menu--label
    float: right
    margin: 40px 60px 0 0
    display: none

    @media screen and(max-width: $break-small)
      display: block
      margin: 40px 20px 0 0

  nav
    float: right
    width: 50%
    padding-top: 40px
    display: none
    +transition

    @media screen and(min-width: $break-small)
      display: block

    ul
      width: 100%
      list-style: none
      // float:right
      padding: 0
      margin: 0

      li
        display: inline-block
        float: left
        width: 50%
        position: relative
        padding-bottom: 10px

    @media screen and(max-width: $break-small)
      +clearfix
      width: 100%
      margin: 0 auto
      text-align: center

      ul
        li
          float: none
          width: 100
          text-align: center
          margin: 0 auto

    a
      text-decoration: none
      font-size: 18px
      color: lighten($text-color, 33%)
      +transition()

      &:hover
        color: black

    &::after
      +clearfix
