header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end
  align-content: flex-end
  max-width: $break-max
  margin: 0 auto
  height: 100px

  .header--title
    // flex-grow: 3
    flex-basis: 48.82117%
    float: left
    margin: 0 0 0 60px
    font-size: 54px
    line-height: 1
    letter-spacing: -5px

    a
      text-decoration: none
      border: 0
      font-size: 54px

      &:hover
        text-decoration: none
        border: 0

    @media screen and(max-width: $break-large)
      margin: 0 0 0 40px

    @media screen and(max-width: $break-medium)
      margin: 0 0 0 20px

      a
        font-size: 54px

    @media screen and(max-width: $break-small)
      margin: 0 0 0 20px

      a
        font-size: 54px

  nav
    // flex-grow: 1
    // flex-shrink: 1
    flex-basis: 48.82117%
    display: flex
    margin: 0 60px 0 2.35765%

    @media screen and(max-width: $break-large)
      margin: 0 40px 0 2.35765%

    @media screen and(max-width: $break-medium)
      margin: 0

    // @media screen and(max-width: $break-small)
    //   margin: 0 20px 0 2.35765%

    .close-nav
      +size(8vh)
      display: none
      position: absolute
      top: 40px
      left: calc(50% - 4vh)
      right: calc(50% - 4vh)
      cursor: pointer
      transition: transform 400ms ease-in-out

      &:before,
      &:after
        content: ""
        display: block
        height: 2px
        width: 100%
        background: $text-color
        position: absolute
        top: calc(4vh - 1px)
        // margin: 0 auto
        transform-origin: center
        transform: rotateZ(45deg)

      &:before
        transform: rotateZ(-45deg)

      &:hover
        transform: rotateZ(-180deg)

    ul
      flex-grow: 1
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      align-content: center
      list-style: none
      padding: 0
      margin: 0

      li
        align-self: center

        a
          text-decoration: none
          border: 0
          font-size: 18px
          color: lighten($text-color, 40%)
          +transition(color 300ms ease-in-out)

          &:hover
            color: black

    // Mobile Nav
    @media screen and(max-width: $break-medium)
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      text-align: center
      z-index: 1000
      opacity: 0
      display: flex
      pointer-events: none
      flex-direction: column
      justify-content: center
      align-items: center
      align-content: flex-start
      +transition(opacity 200ms ease-in-out)

      .close-nav
        display: block

      ul
        // flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-content: center
        // align-self: center

        li
          // align-items: center
          // align-content: center
          align-self: center

          a
            font-size: 8vh
            color: $text-color
            text-decoration: none
            border-bottom: 1px solid $link-color

            a:hover, a:focus
              text-decoration: none
              border: 0

  .nav-open
    @media screen and(max-width: $break-large)
      opacity: 1
      pointer-events: all
      +transition(opacity 200ms ease-in-out)

  .hamburger
    display: none
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-end
    align-content: space-around
    height: 35px
    width: 50px
    margin: 0 20px 10px 0
    cursor: pointer

    @media screen and (max-width: $break-medium)
      display:flex

    div
      align-self: flex-end
      width: 100%
      height: 2px
      background: $text-color

    .mid
      width: 75%
      +transition(width 200ms ease-in-out)

    .bot
      width: 50%
      +transition(width 400ms ease-in-out)

    &:hover
      div
        width: 100%

      .top
        animation: burger-hover 1s infinite ease-in-out alternate

      .mid
        animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms

      .bot
        animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms


// Keyframes for menu icon hover
@keyframes burger-hover
  0%
    width: 100%
  50%
    width: 20%
  100%
    width: 100%
