.music-section
  // background: $alt-bg

  .thumb-container
    max-width: 1200px
    // width: 100%
    margin: 0px auto
    padding-bottom: 100px
    +clearfix()

    .thumb-unit
      display: block
      float: left
      width: 33.33%
      position: relative
      padding-top: 20%
      overflow: hidden
      background:
        // image: url(http://fillmurray.com/500/500)
        position: center center
        repeat: no-repeat
        size: 110% auto
      +transition

      @media screen and (max-width: $break-medium)
        width: 50%
        padding-top: 25%

      @media screen and (max-width: $break-small)
        width: 100%
        padding-top: 25%

      .thumb-overlay
        +position(absolute, 100% 0px null 0px)
        height: 100%
        background: fade-out($accent-color, 0.2)
        text-align: center
        +transition
        // transition: all 100ms ease-in-out

        @media screen and (max-width: $break-small)
          +position(absolute, 0% 0px null 0px)
          background: fade-out($accent-color, 0.2)

        .overlay-label
          position: relative
          top: 50%
          transform: translateY(-50%)

          span
            font-size: 16px

          strong
            display: block
            line-height: 1
            color: white
            font-weight: 300
            text-transform: uppercase
            font-size: 24px

      &:hover
        background-size: 100% auto
        .thumb-overlay
          +position(absolute, 0% 0px null 0px)
          background: fade-out($accent-color, 0.2)
