.music-section
  padding: 0px 80px

  @media screen and (max-width: $break-large)
    padding: 50px 60px

  @media screen and (max-width: $break-medium)
    padding: 50px 0

  @media screen and (max-width: $break-small)
    padding: 50px 0

  .thumb-container
    // width: 100%
    margin: 0px auto
    padding-bottom: 100px
    +clearfix()

    .thumb-unit
      display: block
      float: left
      width: 33.33%
      position: relative
      padding-top: 16%
      overflow: hidden
      background:
        // image: url(http://fillmurray.com/500/500)
        position: center center
        repeat: no-repeat
        size: 100% auto
      +transition

      @media screen and (max-width: $break-large)
        width: 50%
        padding-top: 25%

      @media screen and (max-width: $break-medium)
        width: 50%
        padding-top: 25%

      @media screen and (max-width: $break-small)
        width: 100%
        padding-top: 30%

      .thumb-overlay
        +position(absolute, 100% 0 null 0)
        height: 100%
        background: fade-out($accent-color, 0.2)
        text-align: center
        +transition

        @media screen and (max-width: $break-medium)
          +position(absolute, 0% 0px null 0px)
          background: fade-out($accent-color, 0.2)

        .overlay-label
          @extend %center-vertical

          strong
            display: block
            line-height: 1
            color: darken($text-color, 50%)
            font-weight: 700
            text-transform: uppercase
            font-size: 28px

            &:nth-child(2)
              color: lighten($text-color, 10%)
              font-weight: 300

      &:hover
        background-size: 106% auto //background image size transition
        .thumb-overlay
          +position(absolute, 0% 0px null 0px)
          background: fade-out($accent-color, 0.2)

          strong
            color: darken($text-color, 50%)

            &:nth-child(2)
              color: lighten($text-color, 10%)
