body.posts
  background-color: $bg-posts

  .post
    +outer-container(100%)
    margin: 100px auto 0
    padding: 0 60px

    h1
      margin: 0

    @media screen and (max-width: $break-large)
      padding: 0 40px

    @media screen and (max-width: $break-medium)
      padding: 0 20px

      h1
        font-size: 48px

    @media screen and (max-width: $break-small)
      h1
        font-size: 44px

      p
        font-size: 16px

    &--title
      max-width: $break-medium
      margin: 100px auto 50px

      span
        display: block

      span:nth-child(3n)
        color: black
        font-weight: 700

    &--article
      max-width: $break-medium
      margin: 0 auto

      img
        display: block
        width: 100%

      .highlight
        font-size: 16px
        padding: 0 10px

        @media screen and (max-width: $break-small)
          font-size: 14px

      #disqus_thread
        margin-top: 100px
