body.posts
  background-color: $bg-posts

  .post
    +outer-container(100%)
    margin: 100px auto 0
    padding: 0 60px

    @media screen and (max-width: $break-large)
      padding: 0 40px

    @media screen and (max-width: $break-medium)
      padding: 0 20px

    @media screen and (max-width: $break-small)
      // padding: 0 10px
      p
        font-size: 16px

    &--title
      max-width: $break-medium
      margin: 0 auto

    &--article
      max-width: $break-medium
      margin: 0 auto
